lxml==5.0.2 changed from 5.0.0 due to failure to build lxml on macosx
see https://bugs.launchpad.net/lxml/+bug/2045435

numpy<2
due to error similar to
https://stackoverflow.com/questions/71986643/userwarning-failed-to-initialize-numpy-module-compiled-against-api-version-0xf

installed ipykernel in cs224n-cpu environment:
conda install ipykernel
to make cs224n-cpu environment usable in jupyter notebooks
this did not seem to work

TRY ADDING the following to env-cpu.yml
  - jupyter
